.header
  %ul.nav.nav-pills.pull-right
    %li
      %a{href: "/"} Home
    %li
      %a{href: "#"} About
    %li
      %a{href: "/api"} API Test
    %li
      %a{href: "/rss"} RSS Test
  %a{href: "/"}
    %h3.text-muted WikiTrends