- content_for(:body) do
  .jumbotron
    %form{role: "form", action: "/api", method: "post"}
      .form-group
        %label{for: "post_name"} Enter atricle name
        %input.form-control#post_name{name: "post[name]", placeholder: "Article name"}
      %button.btn.btn-default{type: "submit"} Show me your magic!