- content_for(:body) do
  .jumbotron
    %h3 Trend name
    %table.highchart{style: "width: 100%; height: 0%; display: none;",
                            "data-graph-container-before" => 1, "data-graph-type" => "spline",
                             "data-graph-xaxis-type" => "datetime"}
      %thead
        %tr
          %th Date
          %th Page views
      %tbody
        - points.each do |point|
          %tr
            %td= point[:key]
            %td= point[:value]
    %p.lead Description
  .row.marketing
    .col-lg-12
      - 3.times do
        %h4 Some other trend
        %p Description


- content_for(:scripts) do
  :javascript
    $(document).ready(function() {
      $('table.highchart').highchartTable();
    });