- content_for(:body) do
  .container
    .header
      %ul.nav.nav-pills.pull-right
        %li.active
          %a{href: "#"} Home
        %li
          %a{href: "#"} About
      %h3.text-muted WikiTrends
    .jumbotron
      %h3 Trend name
      %table.highchart{"data-graph-container-before" => 1, "data-graph-type" => "column"}
        %thead
          %tr
            %th Date
            %th Page views
        %tbody
          - points.each do |point|
            %tr
              %td= point[:key]
              %td= point[:value]
      %p.lead Description
    .row.marketing
      .col-lg-12
        - 3.times do
          %h4 Some other trend
          %p Description
    .footer
      %p &copy; Anna Kolpakova, Artem Nikolenko, Anton Lopuhin, Dmitry Zeldin, 2013

- content_for(:scripts) do
  :javascript
    $(document).ready(function() {
      $('table.highchart').highchartTable();
    });