!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "css/jumbotron.css", rel: "stylesheet"}
    =yield_content :css
  %body
    =yield_content :body
    %script{src: "https://code.jquery.com/jquery.js"}
    %script{src: "js/bootstrap.min.js"}
    %script{src: "js/highcharts.js"}
    %script{src: "js/jquery.highchartTable-min.js"}
    =yield_content :scripts