!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "css/bootstrap.min.css", rel: "stylesheet"}
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li
            %a{href: "/"} Home
          %li
            %a{href: "/api"} API Test
          %li
            %a{href: "news"} Google News Test
        %a{href: "/"}
          %h3.text-muted WikiTrends
      %hr
    .container
      =yield_content :body
    .container
      .footer
        %hr
        %p &copy; Anna Kolpakova, Artem Nikolenko, Anton Lopuhin, Dmitry Zeldin, 2013
    %script{src: "https://code.jquery.com/jquery.js"}
    %script{src: "js/bootstrap.min.js"}
    %script{src: "js/highcharts.js"}
    %script{src: "js/jquery.highchartTable-min.js"}
    =yield_content :scripts